#map-background {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 64;
	width: 100%;
	height: 100%;
}

.search-container, .add-event-container {
  z-index: 2;
}

.event-list-map {
  border:1px solid black;
  width: 200px;
  height: 300px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}